<div class="text-center">
    <i class="bi @Icon fs-1 text-@IconColor d-block mb-3"></i>
    <p>@Message</p>
    <div class="d-flex justify-content-center gap-2">
        <button class="btn btn-secondary" @onclick="Cancel">Cancelar</button>
        <button class="btn btn-@IconColor" @onclick="Confirm">Confirmar</button>
    </div>
</div>
